form label,
label input,
label select {
    display: block;
    text-align: left;
    margin-left: 30px;
}
form label {
    margin-top: 18px;
}
label input,
label select {
    width: 80%;
    padding: 6px;
    margin-top: 5px;
    cursor: pointer;


}
form button {
    font-weight: bold;
border-radius: 5px;
background-color: cornflowerblue;
color: white;
border: none;
-webkit-box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68); 
  box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68);
  padding: 15px 30px;
  margin-top: 15px;
  margin-bottom: 16px;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;


}
form button:hover{
    background-color: orange;
    color: white;
}