.App {
  text-align: center;
}

*{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: lightsteelblue;
}

.App h1{
  font-size: 50px;
  color:cornflowerblue;
  text-shadow: 1px 1px 2px black;

}
.App h1 small {
  color: orange;
  font-size: 34px;
}

.grey-card-container {
  max-width: 725px;
  margin: auto;
  border-radius: 5px;
  background-color: lightgrey;
  -webkit-box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68); 
  box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68);
  padding: 40px 50px 30px;
  max-height: 441px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.view-button {
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  color: cornflowerblue;
  border: none;
  -webkit-box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68); 
    box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68);
    padding: 15px 30px;
    margin-top: 20px;
  margin-bottom: 18px;
  margin-inline: 30px;
  cursor: pointer;
  

}
.view-button:hover{
  background-color: cornflowerblue;
  color: white;

}
.add-button {
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  color: cornflowerblue;
  border: none;
  -webkit-box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68); 
    box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68);
    padding: 15px 30px;
    margin-top: 20px;
  margin-bottom: 18px;
  margin-inline: 30px;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}
.add-button:hover{
  background-color: cornflowerblue;
  color: white;

}
.buttons {
margin-top: 15px;
  

}

.active-button {
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68); 
    box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.68);
    padding: 15px 30px;
    margin-top: 20px;
  margin-bottom: 18px;
  margin-inline: 30px;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  

}

